/* Resets */

body, h1, h2, h3, h4, div, ul, li, a, p, div{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	font-family:Arial, sans;
}

/* Main color variables */

$mainLight:#6699FF;
$mainDark:#000099;
$white:#eeeeee;
$black:#222222;

/* Wrapper */


/* Header */

#header{
	background-color:$black;
}

#title{
	color:$white;
	text-align:center;
	font:{
		family:Arial, sans;
		size:20px;
		weight:bold;
	}
}

/* Game Area */

#mainContent{
	padding-top:10px;
}

#game{

	margin:0 auto;
	width:30%;
	@media screen and (max-width:1000px){
		width:50%;
	}
	@media screen and (max-width:600px){
		width:100%;
	}
}

/* Subscreen */

#subscreen{
	width:100%;
}

#numbers{
	
}

#display{
	width:100%;
	height:20px;
	background-color: #444444;
	color:#dddddd;
	text-align:center;
	font:{
		size:14px;
		weight:bold;
	}
	padding-top:4px;
	margin: 0 auto 10px;
}

.button{
	width:99%;
	height:20px;
	border: solid 1px #444444;
	background-color: #dddddd;
	text-align:center;
	font:{
		size:14px;
		weight:bold;
	}
	padding-top:4px;
	margin: 0 auto 10px;
	&:hover{
		cursor:pointer;
		background-color:#444444;
		color:#dddddd;
	}
	&:active{
		background-color:#444444;
		color:#dddddd;
	}
}

.buttonActive{
	background-color:#444444;
	color:#dddddd;
}

/* Gameboard */

#gameboard{
	width:100%;
	margin:10px auto;
	min-height:100px;
	position:relative;
}

#gameboardSVG{
	width:100%;
}

.gameSquare{
	float:left;
	position:absolute;
	&:nth-child(odd){
		background-color:$mainLight;
	}
	&:nth-child(even){
		background-color:$mainDark;
	}
}

/* The following game elements are for the svg elements first, followed by their shapes */

.gameElementSquare{
	position:absolute;
}

.gameElementSquareRect{
	
}

.gameElementBall{
	position:absolute;
	z-index:1;
}

.gameElementBallCircle{
	
}
